<div class="image-container">
    <a [routerLink]="['/Proyecto2/login', 'cajeros']">
      <img src="assets/Menu/usuario.png" alt="Cajero">
      <p>Cajero</p>
    </a>
    <a [routerLink]="['/Proyecto2/login', 'admins']">
      <img src="assets/Menu/admin.png" alt="Administrador">
      <p>Administrador</p>
    </a>
    <a [routerLink]="['/Proyecto2/login', 'bodegueros']">
      <img src="assets/Menu/bodega.png" alt="Bodegueros">
      <p>Bodega</p>
    </a>
    <a [routerLink]="['/Proyecto2/login', 'inventario']">
      <img src="assets/Menu/inventario.png" alt="Inventario">
      <p>Inventario</p>
    </a>
    
  </div>
  
  <div>
Bases: {{bases}}

  </div>
  